{
  "extends": "@react-native-community",
  "rules": {
    "no-shadow": "off",
    "no-console": "warn",
    "quotes": "off",
    "curly": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unstable-nested-components": "off"
  }
}
